{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 position-relative">
  <a href="{% url 'project:position-list' %}">
  <div class="p-3 text-center">
    <h1 class="text-gradient text-primary"><span id="state1" countTo="{{ num_positions }}">0</span></h1>
    <h5 class="mt-3">Positions</h5>
    <p class="text-sm font-weight-normal">Page with positions in our company</p>
  </div>
  </a>
  <hr class="vertical dark">
</div>
<div class="col-md-4 position-relative">
  <a href="{% url 'project:task-list' %}">
  <div class="p-3 text-center">
    <h1 class="text-gradient text-primary"> <span id="state2" countTo="{{ num_tasks }}">0</span></h1>
    <h5 class="mt-3">Tasks</h5>
    <p class="text-sm font-weight-normal">Page with tasks in our company</p>
  </div>
  </a>
  <br>
  <p style="text-align: center">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  <hr class="vertical dark">
</div>
<div class="col-md-4">
  <a href="{% url 'project:worker-list' %}">
  <div class="p-3 text-center">
    <h1 class="text-gradient text-primary" id="state3" countTo="{{ num_workers }}">0</h1>
    <h5 class="mt-3">Workers</h5>
    <p class="text-sm font-weight-normal">Page with workers in our company</p>
  </div>
  </a>
</div>
{% endblock %}
