{% extends "project/index.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Project list
    <a href="{% url 'project:project-create' %}" class="btn btn-primary link-to-page mb-2">
      Create
    </a>
  </h1>
  <form method="get" action="">
    <div class="d-flex align-items-center gap-2 mb-3">
        <input
            type="text"
            name="name"
            value="{{ name }}"
            placeholder="Search by name..."
            style="border: 1px solid #ccc; border-radius: 8px; padding: 8px 12px; font-size: 14px; outline: none; width: 250px;"
        >
        <button class="btn btn-secondary mb-1" >
            🔎
        </button>
    </div>
</form>

  {% if project_list %}
   <table class="table">
    <tr>
      <th>ID</th>
      <th>Project</th>
      <th>Update project</th>
      <th>Delete project</th>
    </tr>
    {% for project in project_list %}
      <tr>
        <td>
          {{ project.id }}
        </td>
        <td>
          <a href="{% url 'project:project-detail' pk=project.id %}">
          {{ project.name }}
          </a>
        </td>
        <td>
          <a class="btn btn-secondary link-to-page"
             href="{% url 'project:project-update' pk=project.id %}">
            Update
          </a>
        </td>
        <td>
          <a class="btn btn-primary link-to-page"
             href="{% url 'project:project-delete' pk=project.id %}">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}

   </table>
  {% else %}
    <p>There are no projects in company</p>
  {% endif %}
{% endblock %}
