{% extends "project/index.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task Type list
    <a href="{% url 'project:task-type-create' %}" class="btn btn-primary link-to-page mb-2">
      Create
    </a>
  </h1>
  <form method="get" action="">
    <div class="d-flex align-items-center gap-2 mb-3">
        <input
            type="text"
            name="name"
            value="{{ name }}"
            placeholder="Search by name..."
            style="border: 1px solid #ccc; border-radius: 8px; padding: 8px 12px; font-size: 14px; outline: none; width: 250px;"
        >
        <button class="btn btn-secondary mb-1" >
            🔎
        </button>
    </div>
</form>

  {% if task_type_list %}
   <table class="table">
    <tr>
      <th>ID</th>
      <th>Task Type</th>
      <th>Delete task type</th>
    </tr>
    {% for type in task_type_list %}
      <tr>
        <td>
          {{ type.id }}
        </td>
        <td>
          <a href="{% url 'project:task-type-detail' pk=type.id %}">
          {{ type.name }}
          </a>
        </td>
        <td>
          <a class="btn btn-primary link-to-page"
             href="{% url 'project:task-type-delete' pk=type.id %}">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}

   </table>
  {% else %}
    <p>There are no task types in company</p>
  {% endif %}
{% endblock %}
