{% extends 'base.html' %}

{% block title %}Team detail | IT Task Manager{% endblock %}

{% block content %}
  <h1>
    {{ team.name }}
    <br>
    <a href="{% url 'project:team-update' pk=team.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'project:team-delete' pk=team.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

  </h1>

  <h2>
    Workers
  </h2>
  <hr>
  <ul>
    {% for worker in team.workers.all %}
      <li>
        <a href="{% url 'project:worker-detail' pk=worker.id %}">
        {{ worker.first_name }} {{ worker.last_name }} ({{ worker.position }}) {% if user == worker %} (Me) {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2>
    Projects
  </h2>
  <hr>
  <ul>
    {% for project in team.projects.all %}
      <li>
        <a href="{% url 'project:project-detail' pk=project.id %}">
        {{ project.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
